#name-pricipal, .card-lenguaje h3{
			font-family: 'Lobster', cursive;
			color: #eee;
		}
		.card-lenguaje img{
			max-height: 100px;
			min-height: 100px;
			max-width: 100px;
			min-width: 100px;

		}
		
		.title-information h2{
			color: #fafafa;
			font-family: 'Leckerli One', cursive;
			font-weight: normal;
			padding-top: 80px; 
		}
		.shooping-cart-title h2{
			font-size: 55px;
		}
		.title-head{
			color: #fafafa;
			font-family: "Lobster", cursive;
			font-size: 30px;
		}

		.title-head ul{
			padding: 25px 0 50px 0;
		}

		.title-head p{
			font-size: 45px;
		}

		.title-head ul li{
			list-style-type: none;
		}

		.title-foot{
			text-decoration: underline;
		}

		.navbar-custom {
	    background-color:#263238;
	    color:#ffffff;
	    border-radius:0;
		}

		.navbar-custom .navbar-nav > li > a {
	    color:#fff;
		}

		.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	    color: #ffffff;
	    background-color:transparent;
		}

		.navbar-nav > .active, .navbar-custom .navbar-nav > li > a:hover{
			border-bottom: 3px solid #cfd8dc;
		}

		.navbar-custom .navbar-brand {
	    color:#eeeeee;
		}

		.parallax-head {
	    min-height: 700px;
	    background: transparent;
		}

		.parallax-content{
			min-height: 700px;
	    background: transparent;
		}
		.social{
			position: relative;
			top: 250px;
			
		}

		.btn-socials{
			margin: auto;
			text-align:center;
			font-weight: bold;
			/*border:3px double #eceff1;*/
		}
		.btn-socials li{
			display: inline-block;
			list-style-position: inside;
		}

		.btn-socials li .link-social{
			padding: 10px;
			margin: 10px;
			color: #eceff1;
			border-radius: 10%;
			border:3px double #eceff1;
		}
		.btn-socials li .link-social:hover{
			background-color: #607d8b;
			color: black;
		}

		.btn-socials li .facebook:hover{
			background-color: #0d47a1;
		}

		.btn-socials li .instagram:hover{
			background-color: #e53935;
		}
		
		.btn-socials li .twitter:hover{
			background-color: #2962ff;
		}
		
		.btn-socials li .github:hover{
			background-color: #212121;
			color: #fafafa;
		}
		
		.btn-socials li .linkedin:hover{
			background-color: #0091ea;
		}
	
		.more{
			position: relative;
			top: 200px;
		}
		.more a{
			padding: 4px 14px;
			color: #fafafa;
			font-size: 40px;
			border-radius: 50%;
			border:3px double #eceff1;
		}
		#projects .container .options-progressa{
			min-height: 250px;
			padding: 20px 0;
		}
		

		#projects .container p{
			color: #eee;
			text-align: center;

		}

		#projects .container .options-progressa i{
			padding: 15px;
			background-color: #01579b;
			color: #fafafa;
			border-radius: 50%;
		}

		#projects .container .options-progressa:hover i,#projects .container .options-progressa:hover p{
			color: #4caf50;
		}
		#projects .container .options-progressa:hover p{
			font-weight:bolder;
		}

		#projects .container p i{
			font-size: 60px;
			display: inline-block;
		}
	
		.contact{
			padding: 30px 0 50px 0;
		}

		.contact h3{
			color: #43a047;
			padding: 30px;
		}
