#get-in-touch.get-in-touch.container
  .container-content 
    h2.title Work with me!
    p.content  I'm very approachable and would love to speak to you. Feel free to send me a message on whatsapp or contact download my CV and send me an email. You can too follow me in social media
    include ./_cta-btn
    .social-icons 
      a.social-icons__link(href="#") 
        i.social-icons__icon.fa-brands.fa-linkedin-in
      a.social-icons__link(href="#") 
        i.social-icons__icon.fa-brands.fa-instagram
      a.social-icons__link(href="#") 
        i.social-icons__icon.fa-solid.fa-envelope