header.header-page
  .container
    nav.menu
      .menu__icon-container
        i.menu__icon.fa-solid.fa-bars 
      ul.menu__list
        li.menu__item
          a.menu__link(href="#home") Home
        li.menu__item
          a.menu__link(href="#about-me") About me
        li.menu__item
          a.menu__link(href="#my-work") My work
        li.menu__item
          a.menu__link(href="#skills") Skills
        li.menu__item
          a.menu__link(href="#get-in-touch") Contact me
        