header.header-page
  .container
    nav.menu
      .menu__icon-container
        i.menu__icon.menu__icon--open.fa-solid.fa-bars 
      .menu__list--container
        i.menu__icon.menu__icon--opened.fa-solid.fa-xmark 
        ul.menu__list
          li.menu__item
            a.menu__link(href="./") Home
          li.menu__item
            a.menu__link(href="./page.html") Page
          li.menu__item
            a.menu__link(href="./single.html") Post
          li.menu__item
            a.menu__link(href="./archive.html") Archives
        