
#my-work.my-work.container
  .container-content 
    h2.title My work
    p.content 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, hic. Obcaecati voluptatibus, quo iste corporis commodi quas. Dignissimos commodi possimus, dicta praesentium, rem, quidem at voluptatum libero eos similique hic.
  .container-works 
    .page-code
      .item-page 
        i.fa-brands.fa-github
        span.name Github
      .item-page 
        i.fa-brands.fa-codepen
        span.name Codepen
    .companies-worked 
      .company_container 
        
      