.header-page{
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 10px 30px;
  backdrop-filter: blur(10px);
  background-color: rgba($variant-3, 0.1);
  .container{
    margin: 0 auto;
  }
}

.menu{
  &__icon-container{
    font-size: 32px;
    color: $text-light;
    cursor: pointer;
    text-align: end;
    margin-bottom: 0;
  }
  &__list{
    list-style: none;
    padding: 0;
    box-sizing: border-box;
  }
  &__item{
    padding: 0px;
  }
  &__link{
    text-align: center;
    display: block;
    text-decoration: none;
    letter-spacing: 1.2px;
    padding: 8px 20px;
    outline: none;
    position: relative;
    color: $text-light;
    @include font-size(18px,700px);
    &:hover{
      text-decoration: none;
      color: $text-light;  
    }
    &.active{
      color: $blue;
    }
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -5px;
      background: $blue;
      transform: scaleX(0);
      transition: .3s;
    }
    &:hover:before{
      transform: scaleX(1);
    }
  }
}


@media (min-width:768px) {
  .header-page{
    display: block;
  }
  .menu{
    &__list{
      display: flex;
      justify-content: center;
      height: auto;
    }
    &__icon-container{
      display: none;
    }
    
  }
}