
<div class="get-in-touch container" id="get-in-touch">
  <div class="container-content"> 
    <h2 class="title">Work with me!</h2>
    <p class="content"> I'm very approachable and would love to speak to you. Feel free to send me a message on whatsapp or contact download my CV and send me an email. You can too follow me in social media</p>
    <div class="cta__container"><a class="cta__btn cta__btn--hire-me" href="https://www.linkedin.com/in/franklin-penafiel-ramirez/">Hire me</a><a class="cta__btn cta__btn--download-cv" href="./../../files/Franklin%20Pe%C3%B1afiel%20-%20CV%20-%20Wordpress%20developer.pdf" download="download" target="_blank">Download CV</a></div>
    <div class="social-icons"> <a class="social-icons__link" href="https://www.linkedin.com/in/franklin-penafiel-ramirez/"> <i class="social-icons__icon fa-brands fa-linkedin-in"></i></a><a class="social-icons__link" href="https://www.instagram.com/fstuar_dev/"> <i class="social-icons__icon fa-brands fa-instagram"></i></a></div>
  </div>
</div>