
<header class="header-page">
  <div class="container">
    <nav class="menu">
      <div class="menu__icon-container"><i class="menu__icon fa-solid fa-bars"> </i></div>
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="#home">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#about-me">About me</a></li>
        <li class="menu__item"><a class="menu__link" href="#my-work">My work</a></li>
        <li class="menu__item"><a class="menu__link" href="#skills">Skills</a></li>
        <li class="menu__item"><a class="menu__link" href="#get-in-touch">Contact me</a></li>
      </ul>
    </nav>
  </div>
</header>