
<header class="header-page">
  <div class="container">
    <nav class="menu">
      <div class="menu__icon-container"><i class="menu__icon menu__icon--open fa-solid fa-bars"> </i></div>
      <div class="menu__list--container"><i class="menu__icon menu__icon--opened fa-solid fa-xmark"> </i>
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="./">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="./page.html">Page</a></li>
          <li class="menu__item"><a class="menu__link" href="./single.html">Post</a></li>
          <li class="menu__item"><a class="menu__link" href="./archive.html">Archives</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>