
<div class="my-work container" id="my-work">
  <div class="container-content"> 
    <h2 class="title">My work</h2>
    <p class="content"> 
      <Lorem>ipsum dolor sit amet consectetur adipisicing elit. Facere, hic. Obcaecati voluptatibus, quo iste corporis commodi quas. Dignissimos commodi possimus, dicta praesentium, rem, quidem at voluptatum libero eos similique hic.</Lorem>
    </p>
  </div>
  <div class="work__container"> 
    <div class="work__container--projects"><a class="work__project" href="https://github.com/FranklinStuar"><i class="work__icon fa-brands fa-github"></i><span class="work__name">Github</span></a><a class="work__project none" href="#"><i class="work__icon fa-brands fa-codepen"></i><span class="work__name">Codepen</span></a></div>
    <div class="company__container-cards">
      <div class="company__card"> 
        <div class="company__information"> <span class="company__name">Rappi</span>
          <p class="company__description">I worked here only 2 weeks doing a web to Champions leage at 2020 and I loved my work because I can to show my experiencie as frontend.</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company__information"> <span class="company__name">Gold Media Tech</span>
          <p class="company__description">Currenty I work here. I can do webs for some startups of USA. My responsibilities are simples, I do templates, plugins or only I do beautiful webs from design department. I have a lot of opportunities of grown as frontend developer using html, css and javascript. I can improve too solutions and innovate when don’t there are designs.</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company__information"> <span class="company__name">Freije</span>
          <p class="company__description">Great company, I worked coding solutions of design for this web on wordpress. I did here my first template and my second plugin.</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company__information"> <span class="company__name">Cardian Men</span>
          <p class="company__description">I worked here using elementor for a ecommerce. My job was to do a ecommerce and provide maintenance. The web closed because it was a lot of sells but it couldn't found providers</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company__information"> <span class="company__name">MTF Autoservice</span>
          <p class="company__description">I worked here as freelance around 3 years. I did a software as full stack on laravel and vuejs. I worked doing the software and an API to connect it with wordpress</p>
        </div>
      </div>
    </div>
  </div>
</div>