
<div class="my-work container" id="my-work">
  <div class="container-content"> 
    <h2 class="title">My work</h2>
    <p class="content"> 
      <Lorem>ipsum dolor sit amet consectetur adipisicing elit. Facere, hic. Obcaecati voluptatibus, quo iste corporis commodi quas. Dignissimos commodi possimus, dicta praesentium, rem, quidem at voluptatum libero eos similique hic.</Lorem>
    </p>
  </div>
  <div class="container-works"> 
    <div class="page-code">
      <div class="item-page"> <i class="fa-brands fa-github"></i><span class="name">Github</span></div>
      <div class="item-page"> <i class="fa-brands fa-codepen"></i><span class="name">Codepen</span></div>
    </div>
    <div class="companies-worked"> 
      <div class="company_container"> </div>
    </div>
  </div>
</div>