
<div class="my-work container" id="my-work">
  <div class="container-content"> 
    <h2 class="title">My work</h2>
    <p class="content"> 
      <Lorem>ipsum dolor sit amet consectetur adipisicing elit. Facere, hic. Obcaecati voluptatibus, quo iste corporis commodi quas. Dignissimos commodi possimus, dicta praesentium, rem, quidem at voluptatum libero eos similique hic.</Lorem>
    </p>
  </div>
  <div class="work__container"> 
    <div class="work__container--projects"><a class="work__project" href="#"><i class="work__icon fa-brands fa-github"></i><span class="work__name">Github</span></a><a class="work__project" href="#"><i class="work__icon fa-brands fa-codepen"></i><span class="work__name">Codepen</span></a></div>
    <div class="company__container-cards">
      <div class="company__card"> 
        <div class="company_visual"> <img class="company__img" src="../../img/default-image.png" alt="Rappi"/></div>
        <div class="company__information"> <span class="company__name">Rappi</span>
          <p class="company__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae similique suscipit, officia minus molestias sapiente laborum beatae voluptates inventore eius?</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company_visual"> <img class="company__img" src="../../img/default-image.png" alt="Gold Media Tech"/></div>
        <div class="company__information"> <span class="company__name">Gold Media Tech</span>
          <p class="company__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae similique suscipit, officia minus molestias sapiente laborum beatae voluptates inventore eius?</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company_visual"> <img class="company__img" src="../../img/default-image.png" alt="Freije"/></div>
        <div class="company__information"> <span class="company__name">Freije</span>
          <p class="company__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae similique suscipit, officia minus molestias sapiente laborum beatae voluptates inventore eius?</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company_visual"> <img class="company__img" src="../../img/default-image.png" alt="Cardian Men"/></div>
        <div class="company__information"> <span class="company__name">Cardian Men</span>
          <p class="company__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae similique suscipit, officia minus molestias sapiente laborum beatae voluptates inventore eius?</p>
        </div>
      </div>
      <div class="company__card"> 
        <div class="company_visual"> <img class="company__img" src="../../img/default-image.png" alt="MTF Autoservice"/></div>
        <div class="company__information"> <span class="company__name">MTF Autoservice</span>
          <p class="company__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae similique suscipit, officia minus molestias sapiente laborum beatae voluptates inventore eius?</p>
        </div>
      </div>
    </div>
  </div>
</div>