
<div class="skills container" id="skills">
  <div class="container-content"> 
    <h2 class="title">Skills</h2>
    <p class="content"> 
      <Lorem>I was a full stack developer but I love all about design. I'm currently a frontend developer and I'm trying to do the best webs for my clients and my jobs</Lorem>
    </p>
  </div>
  <div class="skills__container-slider">
    <div class="swiper skills__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-html5"></i><span class="skill__name">HTML</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-css3"></i><span class="skill__name">CSS</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-js"></i><span class="skill__name">CSS</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-solid fa-file-code"></i><span class="skill__name">Pug</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-sass"></i><span class="skill__name">Sass</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-php"></i><span class="skill__name">Php</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-wordpress"></i><span class="skill__name">Wordpress</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-vuejs"></i><span class="skill__name">Vuejs</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-laravel"></i><span class="skill__name">Laravel</span></div>
        <div class="swiper-slide skill__tecnology"><i class="skill__icon fa-brands fa-bootstrap"></i><span class="skill__name">Bootstrap</span></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>