<!DOCTYPE html>
<html>
  <head>
    <title>Franklin Peñafiel - Frontend developer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <header class="header-page">
      <div class="container">
        <nav class="menu">
          <div class="menu__icon-container"><i class="menu__icon menu__icon--open fa-solid fa-bars"> </i></div>
          <div class="menu__list--container"><i class="menu__icon menu__icon--opened fa-solid fa-xmark"> </i>
            <ul class="menu__list">
              <li class="menu__item"><a class="menu__link" href="./">Home</a></li>
              <li class="menu__item"><a class="menu__link" href="./page.html">Page</a></li>
              <li class="menu__item"><a class="menu__link" href="./single.html">Post</a></li>
              <li class="menu__item"><a class="menu__link" href="./archive.html">Archives</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
    <script src="../../js/script.js"> </script>
  </body>
</html>