extend ./components/_template
block content 
  main.blog
    +titleBlog("Some random title on Blog","https://fondosmil.com/fondo/17010.jpg")
    .container
      .container--content-page
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure sint porro necessitatibus a inventore eum! Ducimus veritatis totam labore repellendus reprehenderit quae quaerat enim. Corrupti expedita ipsum cupiditate eum!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure sint porro necessitatibus a inventore eum! Ducimus veritatis totam labore repellendus reprehenderit quae quaerat enim. Corrupti expedita ipsum cupiditate eum!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure sint porro necessitatibus a inventore eum! Ducimus veritatis totam labore repellendus reprehenderit quae quaerat enim. Corrupti expedita ipsum cupiditate eum!
        img(src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure sint porro necessitatibus a inventore eum! Ducimus veritatis totam labore repellendus reprehenderit quae quaerat enim. Corrupti expedita ipsum cupiditate eum!
        h2 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure sint porro necessitatibus a inventore eum! Ducimus veritatis totam labore repellendus reprehenderit quae quaerat enim. Corrupti expedita ipsum cupiditate eum!
        p | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          a(href="") Velit iure sint porro 
          | necessitatibus a inventore eum! Ducimus veritatis 
          strong totam labore repellendus reprehenderit 
          | quae quaerat enim. Corrupti expedita ipsum cupiditate eum!
        ul 
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam perspiciatis ullam sit laborum illo ab assumenda fugit reiciendis repudiandae!
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, dolor! Tempora, earum.
          li Lorem ipsum dolor sit amet consectetur adipisicing elit.