
.home{
  margin: 0 auto;
  padding: 200px 0 50px;
  .information{
    padding-bottom: 50px;
    text-align: center;
    .title-page{
      color: $text-color;
      margin: 0;
      margin-bottom: 10px;
      @include font-size(35px,700,1px);
      span {
        display: block;
      }
    }
    & > span{
      margin: 20px 0;
      display: block;
      color: $text-light;
      @include font-size(18px,normal,1.96px)
    }
  }
  .cta{
    &__container{
      justify-content: space-around;
    }
  }
}
.home.section-page{
  height: auto;
}
@media (min-width:768px) {
  .home{
    padding: 150px 0 0;
  }
  .home .information h1.title-page{
    @include font-size(45px,700,1px);
  }
}
@media (min-width:1024px) {
  .home{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 150px 50px 50px;
    .information{
      text-align: start;
      h1.title-page{
        @include font-size(80px,700,1px);
      }
      & > span{
        @include font-size(22px,normal,1.96px)
      }
    }
    .cta {
      &__container{
        margin: 0;
      }
    }
  }
}